img.tw_normal {
  height: 48px;
  width: 48px;
}

img.tw_small {
  height: 32px;
  width: 32px;
}

ul.account_list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 14px;
}

ul.account_list li {
  position: relative;
  padding: 2px 0 5px 2px;
  height: 54px;
  width: 222px;
}

ul.account_list li a.name {
  color: #000000;
  text-decoration: none;
  height: 42px;
  display: block;
  background-color: #FFBBBB;
  padding: 2px 2px 2px 70px;
}

ul.account_list li a:hover {
/*  text-decoration: underline;*/
}

ul.account_list li.active a.name {
  background-color: #FFEEEE;
  padding: 0 0 0 68px;
  border: 2px solid #FFBBBB;
}



ul.account_list li span.screen_name {
  font-weight: bold;
}


ul.account_list li a.thumb {
  position: absolute;
  top: -6px;
  left: 8px;
}

ul.account_list li a.thumb img {
  border: 2px white solid;
}


ul.tweet_list {
  list-style-type: none;
  padding-left: 0;
  margin-right: 0;
  margin-left: 15px;
}

ul.tweet_list li {
  position: relative;
  padding: 2px 0 5px 2px;
}

ul.tweet_list li div.timestamp {
  font-size: 80%;
  color: #909090;
  padding-left: 50px;
}

ul.tweet_list li div.original {
  font-size: 121%;
  background-color: #FFBBBB;
  padding: 2px 2px 2px 48px;
}

ul.tweet_list li div.thumb {
  position: absolute;
  top: 0;
  padding: 2px;
  margin: 9px 0 0 3px;
}

ul.tweet_list li div.thumb img {
  border: 2px white solid;
}

ul.tweet_list li div.translation {
  padding: 2px 2px 2px 48px;
}

