<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Twitter Translations :: <%= (@user && @user.username) || 'Index' %></title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection" /><![endif]-->
  <link rel="stylesheet" href="/stylesheets/blueprint/plugins/tabs/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/frontend.css" type="text/css" media="screen" />
</head>
<body>
<div class="container">
<%= yield %>
</div>
<script type="text/javascript">var gaJsHost=(("https:"==document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='"+gaJsHost+"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">try{var pageTracker=_gat._getTracker("<%= GOOGLE_ANALYTICS_ID %>");pageTracker._trackPageview();} catch(err) {}</script>
</body>
</html>
