<!DOCTYPE html>
<html>
<head>
  <title>Twitter Translations :: <%= (@user && @user.username) || 'Index' %></title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="https://github.com/cpetschnig/translate-twitter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<div class="container">
<%= yield %>
</div>
</body>
</html>
